* {
    font-family: "Arial";
}
body {
padding-left: 50px;
}
h1, h2, h3 {
    font-family: "Arial"
}
.jsharkkatyyli {
    display: none;
}
h1 {
    color: coral;
}
h2
{
    color:chocolate
}
h3
{
    color: #111;
}
table { 
width: 70%;
border-spacing: 5px;
border-collapse:collapse;
margin: 20px;
border: 1px solid #111;
}
td {
    margin: 0;
    border:1px solid#111
}
.harmaa {
    background-color: darkgrey;
}
.esimerkki {
color: red;
padding-left: 70px;
}
.esimerkki-box {
    background-color: rgb(211, 225, 194);
    border: 1px solid #111;
    margin: 20px;
    padding-left: 10px;
    padding-right:10px; 
    padding-top:10px ;
    padding-bottom:10px ;
}
.taulukko {
    padding-left: 10px;
}